* {
  margin: 0;
}

.navbar { 
  padding-top: 12px;
  padding-bottom: 18px;
  text-align: center;
  background-color: rgb(0 0 0 / 83%)
}

.logo-span {
  display: inline-block;
  margin-top: 1px;
  width: 15em;
  height: 2em;
  font-size: 32px;
  font-family: none;
  font-weight: bold;
  background-color: orangered;
  color: white;
  border-radius: 30px;
  line-height: 50px;
  margin: 1px 2em;
}

.best {

  background-color: red;
} 

.ever {
  background-color: orange;
}

main {
  position: relative;
}

.draqon-header {
  font-size: 5rem;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-family:Arial, Helvetica, sans-serif ;
  background-color: orangered;
  color: rgba(255, 255, 255, 0.884);
  padding: 15px 0;
}

.lorem-p {
 font-size: 32px;
 margin-left: 2em;
 text-align: left;
}

.dragon-img {
  width: 100%;
  padding: 0;
  display: block;

}

.video-cont {
  position: absolute;
  bottom: 9em;
  left: 30%;
}

.footer-cont {
  text-align: right;
  background-color: rgb(173, 172, 172);
  padding: 25px 20px;
}